<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
All products
{% for product in products  %}
    {{product.price}}
    {% if product.stock_count != 0 %}In stock {% else %}Not in stock{% endif %}
{% endfor %}

{% if not products %}No products{% endif %}
    
</body>
</html>